
<section>
    <div class="container mt-4"></div>
<div class="row ml-4">

<div class="col-md-6">

<h2 class="text-center">Add Product</h2>
<form action="/admin/add-product" method="POST" enctype="multipart/form-data">


      <label for="">Name</label>
      <input type="text" class="form-control" name="name" >

  
      <label for="">Category</label>
      <input type="text" class="form-control" name="category">

    <label for="">Price</label>
    <input type="number" class="form-control" name="price" >
  
    <label for="">Description</label>
    <input type="text" class="form-control" name="description">

<label for="">Image</label>
    <input name="img" type="file" class="form-control-file" id="exampleFormControlFile1">


  <button type="submit" class="btn btn-success">Sign in</button>
</form>
</div>

</div>

    </div>
</section>